{
  "config_version": "2.0.0",
  "debug": false,
  "port": 5990,
  "host": "localhost",
  "ssl_enabled": false,
  "db_path":":memory:",
  "ssl": {
    "key_path": "./certs/server.key",
    "cert_path": "./certs/server.crt"
  },
  "rippled_servers": [
    "wss://s1.ripple.com:443"
  ],
  "url_base":"https://api.ripple.com"
}
