{
  "config_version": "2.0.0",
  "debug": false,
  "port": "{{ rest_port }}",
  "host": {{ rest_host }},
  "ssl_enabled": false,
  "db_path":":memory:",
  "ssl": {
    "key_path": "./certs/server.key",
    "cert_path": "./certs/server.crt"
  },
  "rippled_servers": [
    {{ rippled_servers | join(', ') }}
  ],
  "url_base":"{{ rest_url }}"
}
