#!monit

check process ripple-rest with pidfile {{ rest.pid_file }}
    start program = "/sbin/start ripple-rest"
    stop program = "/sbin/stop ripple-rest"
    if memory > 25% then restart
    if failed port 5990 protocol HTTP and request "/v1/server"
    then restart

set httpd port 2812 and
    use address localhost
    allow localhost

