#!upstart
description "Ripple Rest"

start on (local-filesystems and net-device-up IFACE=eth0)
stop on [!12345]

console log

env PATH=/sbin:/usr/sbin:/bin:/usr/bin:/usr/local/bin
env NODE_ENV="production"
env APPLICATION_PATH="{{ release_path.stdout }}"
env PIDFILE="{{ rest.pid_file }}"
env LOG="{{ rest.log_dir }}/{{ rest.log }}"

setuid {{ rest.user }}
setgid {{ rest.group }}

script
    chdir $APPLICATION_PATH
    echo $$ > $PIDFILE
    exec /usr/bin/nodejs server.js start >> $LOG 2>&1
end script

pre-start script
    echo "[`date -u +%Y-%m-%dT%T.%3NZ`] (rest) Starting" >> $LOG
end script

pre-stop script
    rm -f $PIDFILE
    echo "[`date -u +%Y-%m-%dT%T.%3NZ`] (rest) Stopping" >> $LOG
end script


# Restart the process if it dies with a signal
# or exit code not given by the 'normal exit' stanza.
respawn

# Give up if restart occurs 10 times in 90 seconds.
respawn limit 10 90
