#!upstart
description "Ripple Rest"

start on (local-filesystems and net-device-up IFACE=eth0)
stop on [!12345]

console log

# Script Variables
env PATH=/sbin:/usr/sbin:/bin:/usr/bin:/usr/local/bin
env APPLICATION_PATH="{{ rest.path }}/current"
env PIDFILE="{{ rest.pid_file }}"
env LOG="{{ rest.log_dir }}/{{ rest.log }}"
env RESTUSER="{{ rest.user }}"
env NODE_ENV="production"

setuid {{ rest.user }}
setgid {{ rest.group }}

script
    chdir $APPLICATION_PATH

    if [ -e "./server.js" ]
        then export SERVER="server.js"
    elif [ -e "./server/server.js" ]
        then export SERVER="server/server.js"
    else
        exit 1
    fi

    exec start-stop-daemon --start \
        --chuid $RESTUSER:$RESTUSER \
        --chdir $APPLICATION_PATH \
        --make-pidfile --pidfile $PIDFILE \
        --exec /usr/bin/env NODE_ENV=$NODE_ENV /usr/bin/node $SERVER >> $LOG 2>&1
end script

pre-start script
    echo "[`date -u +%Y-%m-%dT%T.%3NZ`] (rest) Starting" >> $LOG
end script

pre-stop script
    echo "[`date -u +%Y-%m-%dT%T.%3NZ`] (rest) Stopping" >> $LOG
end script


# Restart the process if it dies with a signal
# or exit code not given by the 'normal exit' stanza.
respawn

# Give up if restart occurs 10 times in 90 seconds.
respawn limit 10 90
